._*
.DS_Store
Thumbs.db
desktop.ini

*.gcda
*.gcno
*.pyc
*.d
*.o
*.ncrunchproject
SWAG.v2.ncrunchsolution
_NCrunch_*
*.tmp_proj
TestResult.xml

bin
/tpt-building-temp/*
/build/*
/optwell-*.exe
doxy-out/*
mono/*

tests.xml
coverage-html

tags

.idea/*

csv/*
docs/*

callgrind.*

**/obj/**/*
*.pdb
*FileListAbsolute.txt
*.cache

#Visual Studio
*.suo
*.user
*.psess
*.vsp
packages/
TestResults/
_ReSharper.SWAG*/
____Swag.Calc/
*.sln.ide/
*.sublime-workspace
*GhostDoc.xml
*.DotSettings.user
.vs/

*.ilk
*.exp
*.lib
*.metagen
